@mixin flex($dir,$justi,$aling,$gap){
    display: flex;
    flex-direction: $dir;
    justify-content: $justi;
    align-items: $aling;
    gap: $gap;
}

@mixin backgraund($position,$size){
    background-position: $position;
    background-size: $size;
}

@mixin grid($columns, $rows){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}