.nosotros{
    margin-left: 6.25rem;
    padding: 2.5rem;
    width: 70%;
    font-family: "Roboto", sans-serif;
    
    h2{
        margin-bottom: 1.875rem;
        
    }
    p{
        font-size: 1.5625rem;
    }
}